[Unit]
Description=PlayAble Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/PlayAble
ExecStart=/usr/bin/python3 /home/pi/PlayAble/main.py
Restart=always
RestartSec=10
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target 